.dd {
  background-color: black;
  height: 800px;
  position: relative;
  padding-top: 80px;
}
body {
  margin: 0px;
  text-align: center;
  background-color: black;
}
.mountain {
  position: absolute;
  bottom: 160px;
  right: 600px;
}

h1 {
  line-height: 2;
  color: white;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Dancing Script", cursive;
  font-size: 100px;
}
hr {
  border: dotted #eeeded 6px;
  border-bottom: none;
  width: 4%;
}
.ap {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 30px;
  margin: 0px;
  color: white;
  font-weight: normal;
}

.cloud1 {
  position: absolute;
  left: 300px;
  bottom: 700px;
  display: inline-block;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
h3 {
  color: white;
  font-family: "Abel", sans-serif;
}
h2 {
  color: white;
  margin-bottom: 5px;
}
p {
  color: white;
  font-family: "Abel", sans-serif;
}
div {
  background-color: black;
}
.com-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.info {
  width: 25%;
  float: right;
  margin-left: 30px;
}
ul {
  color: white;
  font-family: "Cabin", sans-serif;
  width: 40%;
  text-align: left;
  margin: 0 auto 0 500px;
  line-height: 2;
}
.profile1 {
  margin-bottom: 20px;
  margin-top: 60px;
}
.skill1 {
  font-family: "Dancing Script", cursive;
  margin-top: 60px;
}
.profile {
  margin-bottom: 50px;
}
.touch {
  font-family: "Dancing Script", cursive;
  margin-top: 60px;
}
.tech {
  margin-left: 10px;
  margin-top: 30px;
}

.BUTTON_VYR {
  background: #171717;
  background-image: -webkit-linear-gradient(top, #171717, #1e62d0);
  background-image: -moz-linear-gradient(top, #171717, #1e62d0);
  background-image: -ms-linear-gradient(top, #171717, #1e62d0);
  background-image: -o-linear-gradient(top, #171717, #1e62d0);
  background-image: -webkit-gradient(to bottom, #171717, #1e62d0);
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  color: #000000;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  font-weight: 400;
  padding: 14px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 20px 4px 20px #000000;
  border: groove #0059a0 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_VYR:hover {
  border: solid #337fed 1px;
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
.bottom {
  background-color: aliceblue;
  height: 250px;
}
.last {
  color: black;
  margin-top: 100px;
  margin-left: 43%;
  font-family: "Abel", sans-serif;
  position: absolute;
}
.bottom {
  position: relative;
  margin-top: 30px;
}
.social {
  margin-right: 100px;
  margin-top: 50px;
  width: 40px;
}
.social1 {
  margin-right: 100px;
  margin-top: 50px;
  width: 40px;
}
.social2 {
  width: 40px;
}
